.py-5 {
    padding-top:3rem!important;
    padding-bottom:3rem!important;
}



*, ::after, ::before {
    box-sizing: border-box;
}



div {
    display: block;
}

/* 
.row {
  
    display: flex;
    flex-wrap: wrap;
 
}

.row>* {
    flex-shrink: 0;
  
  
    padding-right:3rem;
    padding-left:2rem;
    margin-top:3rem;
} */

.mb-5 {
    margin-bottom: 2rem!important;
}
.rounded {
    border-radius:1rem !important;
}

.w-100 {
    width: 100%!important;
    font-size: 22px;

}
w-100 {
    width: 100%!important;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
img, svg {
    vertical-align: middle;
}
/* Stop */
h3 .mb-4 {
    margin-bottom: 3.5rem!important;
    color: #1D2A4D;
    font-weight: bold;
}
.mb-5 {
    margin-bottom: 1rem!important;
}

h4 .text-primary {
    --bs-text-opacity:1rem;
    color:#e6cc9f!important;
    font-size: 1.8rem;
    font-weight: bold;
line-height: 3rem;

}


.d-inline-block {
    display: inline-block!important;
}

 .rounded h6{
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color:rgb(41, 38, 90);
}


.pragragh {
   line-height: 2.3rem;
    font-size:20px;
    display: block;
    margin-block-start:3em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.btn-light {
    --bs-btn-color: #000;
    --bs-btn-bg: #f8f9fa;
    --bs-btn-border-color: #f8f9fa;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #d3d4d5;
    --bs-btn-hover-border-color: #c6c7c8;
    --bs-btn-focus-shadow-rgb: 211,212,213;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #c6c7c8;
    --bs-btn-active-border-color: #babbbc;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #f8f9fa;
    --bs-btn-disabled-border-color: #f8f9fa;
}


[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
.d-flex {
    display: flex!important;
}

.bg-light {
    --bs-bg-opacity: 41rem;
    background-color:#f1e1c32e!important;
    font-size: 1.3rem;
 
}
/* .p-5 {
    padding: 5rem!important;
} */




.bttnn{
background-color: #e6cc9f;
font-size: 1.4rem;
 border: #c6c7c8;
 height: 3.2rem;
border-radius: 0.5rem;
}

.btn:hover{
color: #000;
text-shadow: #090909;
background-color:#e6cc9f;
height: 3.3rem;

}
/* body {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;

  } */
  .cards {
    margin-right:0rem;
    margin-bottom:7rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .cards .card {
    margin:40px;
    position: relative;
   
    box-shadow: 0 40px 60px -6px rgb(160, 160, 160);
 
  }

  .cards .card-title {
    width: 100%;
    max-height: 100%;
    display: block;
    text-align: center;
    color: #fff;
    background-color:#e6cc9f;
    padding: 2%;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }
    
  .cards .card img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    display: block;
    position: relative;
  }
  
  .cards .card-desc {
    width: 100%;
    display: block;
    font-size: 1.2rem;
    position: absolute;
    height: 0;
    top: 0;
    opacity: 0;
    padding: 18px 8%;
    background-color: #EFF5F9;
    color: #454749;
    overflow-y: scroll;
    transition: 0.8s ease;
  }
  
  .cards .card:hover .card-desc {
    opacity: 1;
    height: 333px;
  }
 
